@import '~normalize.css/normalize';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 22px;
  line-height: 1.8em;
  background-color: #FFFFFF;

  h4 { color: #AAEFDF; }

  strong { color: #9EE37D; }
}

#root {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 800px;
    margin: 0 40px;
    flex: 1;
  }
}

header {
  margin-bottom: 2.2em;

  h1 {
    color: #fff;
    font-size: 4em;
    margin-bottom: 0.2em;

    &::selection {
      background-color: #AAEFDF;
    }
  }
  h4 {
    font-size: 2em;
    &::selection {
      background-color: #aaa;
    }
  }
}

p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1.5em;

  &::selection {
    background-color: #AAEFDF;
  }

  strong::selection {
    background-color: #aaa;
  }

  a {
    color: #CFFCFF;

    &:hover, &:visited, &:active {
      color: #CFFCFF;
    }

    &::selection {
      background-color: #aaa;
    }
  }
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.2em;
}
